.chart {
    flex-direction: column;
    align-items: flex-start;

    > h1 {
        font-size: 30px;
        font-weight: 700;
        margin-left: 2rem;
        color: #4A4A65;
    }
}
.line__chart {
    margin: 2rem 0;
}