.ListItems {
    gap: 10px;
    > h4 {
        font-size: 22px;
        font-weight: 600;
        flex: 1;
    }
    button {
        background-color: rgb(59 130 246);

        span {
            color: #fff;
        }
    }
    button:hover {
        background-color: #fff;
        span {
            color: rgb(59 130 246)
        }
    }
}
.modal {
    button {
        opacity: 1;
    }
}

.btn__edit {
    background-color: #ed0c0c;

    span {
        color: #fff;
    }
}
.btn__delete {
    background-color: rgb(17, 0, 255);
    
    span {
        color: #fff;
    }
}
